body{
    margin: 0;
    padding: 0;
    background-color: gainsboro;
}
.formulaire{
    margin: 80px 100px;
    display: flex;
    border: 1px solid black;
    background-color: white;
}
.left{
    width: 50%;
    height: 500px;
}
img{
    width: 100%;
    height: 539px;
}
.left p{
    text-align: center !important;
    font-weight: bold;
    color: white;
    position: absolute;
    bottom: 215px;
    font-size: larger;
    padding-left: 70px;
}
.right{
    padding: 30px;
}
.row{
    display: flex;
    margin-bottom: 20px;
}
.col{
    margin-right: 15px;
    margin-left: 15px;
}
.label{
    margin-bottom: 10px;
    font-size: 13px;
}
input{
    border-radius: 3px;
    width: 200px;
    height: 30px;
}
.radios{
    display: flex;
    width: 300px;
    height: 10px;
}
.radio{
    width: 15px;
    margin-right: 10px;
    margin-left: 10px;
}
.para{
    font-size: 13px;
}



.button{
    display: flex;
    text-align: right;
}
.submit, .reset{
    width: 80px;
}
.submit{
    margin-left: 400px;
    color: white;
    background-color: gainsboro;
    border-radius: 6px;
}
.reset{
    margin-left: 30px;
    color: black;
    background-color: white;
    border-radius: 6px;
}
