.card-area{
    margin-top: 80px;
    margin-bottom: 80px;
}
.description-area{
    margin-top: 80px;
    margin-bottom: 0px;
}
.banner-area{
    background-image: url(./imgs/immeuble-residentiel-moderne_1268-14735.webp);
}
/* .nav-item .nav-link{
    padding-left: 20px;
} */
.navbar{
    padding: .8rem;
    padding-right: 20px;
    z-index: 10;
  }
  .nav-link{
    font-size: 1.1em !important;
  }
.card{
    padding: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 20px;
    z-index: 10;
}
.button1{
    width: 130px;
    box-shadow: #094c66 4px 4px 0px;
    border-radius: 8px;
    transition: transform 200ms, box-shadow 200ms;
}
.button1:active{
    transform: translateY(4px) translateX(4px);
    box-shadow: #094c66 0px 0px 0px;
}
.card{
    margin-right: 20px;
}
.footer-area{
    margin-top: 40px;
    color: white;
}
.bakeli{
    display: flex;
}
.button2{
    box-shadow: black 4px 4px 0px;
    border-radius: 8px;
    transition: transform 200ms, box-shadow 200ms;
}
.button2:active{
    transform: translateY(4px) translateX(4px);
    box-shadow: black 0px 0px 0px;
}
.reseau a img{
    margin: 15px;
}